<!DOCTYPE html>
<html lang="en">
  <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">

      <!-- Custom fonts for this template-->
      <link href="{{url_for('static', filename='css/fontawesome/all.min.css')}}" rel="stylesheet" type="text/css">
      <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

      <!-- Custom styles for this template-->
      <link href="{{url_for('static', filename='css/sb-admin-2.css')}}" rel="stylesheet">

      <!-- Custom styles for application-->
      <link href="{{url_for('static', filename='css/testmaker.css')}}" rel="stylesheet">

      <!-- Bootstrap JS + popper bundle & jQuery -->
      <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
      <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>

      <!-- DataTables CSS Packages -->
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='DataTables/datatables.min.css')}}">
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='DataTables/DataTablesMain/css/dataTables.bootstrap4.min.css')}}">
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='DataTables/Buttons/css/buttons.bootstrap4.min.css')}}">
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='DataTables/Buttons/css/buttons.dataTables.min.css')}}">
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='DataTables/Select/css/select.bootstrap4.min.css')}}">
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='DataTables/Select/css/select.dataTables.min.css')}}">
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='DataTables/Editor/css/editor.bootstrap4.min.css')}}">
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='DataTables/FixedHeader/css/fixedHeader.bootstrap4.min.css')}}">
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='DataTables/FixedHeader/css/fixedHeader.dataTables.min.css')}}">
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='DataTables/Responsive/css/responsive.bootstrap4.min.css')}}">
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='DataTables/Responsive/css/responsive.dataTables.min.css')}}">

      <!-- DataTables JS packages -->
      <script type="text/javascript" src="{{url_for('static', filename='DataTables/datatables.min.js')}}"></script>
      <script type="text/javascript" src="{{url_for('static', filename='DataTables/DataTablesMain/js/jquery.dataTables.min.js')}}"></script>
      <script type="text/javascript" src="{{url_for('static', filename='DataTables/DataTablesMain/js/dataTables.bootstrap4.min.js')}}"></script>
      <!-- Editor  -->
      <script type="text/javascript" src="{{url_for('static', filename='DataTables/Editor/js/dataTables.editor.min.js')}}"></script>
      <script type="text/javascript" src="{{url_for('static', filename='DataTables/Editor/js/editor.bootstrap4.min.js')}}"></script>
      <!-- Buttons -->
      <script type="text/javascript" src="{{url_for('static', filename='DataTables/Buttons/js/dataTables.buttons.min.js')}}"></script>
      <script type="text/javascript" src="{{url_for('static', filename='DataTables/Buttons/js/buttons.bootstrap4.min.js')}}"></script>
      <script type="text/javascript" src="{{url_for('static', filename='DataTables/Buttons/js/buttons.html5.min.js')}}"></script>
      <!-- Select -->
      <script type="text/javascript" src="{{url_for('static', filename='DataTables/Select/js/dataTables.select.min.js')}}"></script>
      <script type="text/javascript" src="{{url_for('static', filename='DataTables/Select/js/select.bootstrap4.min.js')}}"></script>
      <!-- Fixed Header -->
      <script type="text/javascript" src="{{url_for('static', filename='DataTables/FixedHeader/js/dataTables.fixedHeader.min.js')}}"></script>
      <script type="text/javascript" src="{{url_for('static', filename='DataTables/FixedHeader/js/fixedHeader.bootstrap4.min.js')}}"></script>
      <!-- Responsive -->
      <script type="text/javascript" src="{{url_for('static', filename='DataTables/Responsive/js/dataTables.responsive.min.js')}}"></script>
      <script type="text/javascript" src="{{url_for('static', filename='DataTables/Responsive/js/responsive.bootstrap4.min.js')}}"></script>

      <!-- Application JS -->
      <script src="{{url_for('static', filename='js/testing.js')}}"></script>

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">

      <!-- Application CSS -->
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/app.css')}}">
      <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/sb-admin-2.css')}}">

      <title>{% block title %}{% endblock %}</title>
  </head>

  <body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home">
            <div class="sidebar-brand-icon">
              <i class="fas fa-atom"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Testing<sup>v1</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item <?=($this->uri->segment(1)=='home' || $this->uri->segment(1)=='') ? 'active' : '';?>">
            <a class="nav-link" href="/home">
                <i class="fas fa-fw fa-home"></i>
                <span>Home</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Current -->
        <li class="nav-item <?=($this->uri->segment(1)=='test_maker') ? 'active' : '';?>">
            <a class="nav-link" href="/test_maker">
                <i class="fas fa-fw fa-laptop-code"></i>
                <span>Test Maker</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Current -->
        <li class="nav-item <?=($this->uri->segment(1)=='yoko_osa') ? 'active' : '';?>">
            <a class="nav-link" href="/yoko_osa">
                <i class="fas fa-fw fa-wave-square"></i>
                <span>Yoko OSA</span>
            </a>
        </li>

        <!-- Nav Item - Current -->
        <li class="nav-item <?=($this->uri->segment(1)=='oscilloscope') ? 'active' : '';?>">
            <a class="nav-link" href="/oscilloscope">
            <i class="fas fa-fw fa-digital-tachograph"></i>
                <span>Tek O-Scope</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Current -->
        <li class="nav-item <?=($this->uri->segment(1)=='wlt_simulator') ? 'active' : '';?>">
            <a class="nav-link" href="/wlt_simulator/show_uploads">
                <i class="fas fa-fw fa-images"></i>
                <span>WLT Simulator</span>
            </a>
        </li>


        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

              <!-- Sidebar Toggle (Topbar) -->
              <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                  <i class="fa fa-bars"></i>
              </button>

              <!-- Topbar Navbar -->
              <ul class="navbar-nav ml-auto">

                  <div class="topbar-divider d-none d-sm-block"></div>

              </ul>

          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            {% block content %}{% endblock %}
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->
      
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Praevium Research, Inc <?=date('Y')?></span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
        
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    {% block javascript %}{% endblock %}

  </body>
    
  <!-- Core plugin JavaScript-->
  <script src="{{url_for('static', filename='js/jquery.easing.min.js')}}"></script>
  
  <!-- Custom scripts for all pages-->
  <script src="{{url_for('static', filename='js/sb-admin-2.min.js')}}"></script>
    
</html>