{% extends 'base.html' %}

{% block content %}
<!-- Page Heading -->
<div class="row">
	<div class="col-6">
		<div class="d-sm-flex align-items-center justify-content-between mb-2">
			<h1 class="h3 mb-0 text-gray-800"><i class="fas fa-fw fa-digital-tachograph"></i> Tektronix Oscilloscope</h1>
		</div>
	</div>
	<div class="col-6">
		<!-- alert for success trace -->	

			<!-- <span class="badge badge-info float-right"><strong>Success!</strong> </span> -->

		<!-- alert for success trace -->

			<!-- <span class="badge badge-danger float-right"><strong>Uh oh!</strong> </span> -->

	</div>
</div>

<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
	<ol class="breadcrumb bg-transparent mb-0">
    <li class="breadcrumb-item"><a href="/home">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Tektronix Oscilloscope</li>
	</ol>
</nav>

<div class="row">
  {% for tool in tools %}
    <div class="col-xl-3 col-md-6 mb-2 d-none d-sm-none d-md-block">  
      <div class="card shadow h-100 py-2">
        <div class="card-body py-3">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-gray-800 text-uppercase mb-1">{{tool['name']}}</div>
                <div id="{{tool['handle']}}-status" class="h7 mb-0 font-weight-bold text-gray-800">
                  <div class="spinner-border text-info" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

<div class="row">
  <div class="col-xl-4 col-lg-4">
    <div class="card mb-2">
      <div class="card-header">
        Grab Oscilloscope Trace
      </div>
      <div class="card-body">

        <!-- <?=form_open('oscilloscope/trace_loading', ['id'=>'oscilloscope_form', 'onSubmit' => 'return validateForm()']);?> -->
        <form method="post" onSubmit="validateForm()" action="{{url_for('interface.trace_capture')}}">

          <div class="form-group">
            <select class="custom-select" name='oscilloscope' id='oscilloscope' required>
              <option value="">Choose Oscilloscope</option>
              {% for tool in tools %}
                <option value="{{tool['handle']}}">{{tool['name']}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
              <select class="custom-select" name='record_length' id='record_length' required>
              <option value="">Choose Record Length</option>
              <option value="1000">1k</option>
              <option value="10000">10k</option>
              <option value="100000">100k</option>
              <option value="1000000">1M</option>
              <option value="5000000">5M</option>
              <option value="10000000">10M</option>
            </select>
          </div>

          <div class="form-group">
            <div><label for="">Select Channel(s)</label></div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="channel_select" value="1">
              <label class="form-check-label" for="inlineCheckbox1">1</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="channel_select" value="2">
              <label class="form-check-label" for="inlineCheckbox2">2</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="channel_select" value="3">
              <label class="form-check-label" for="inlineCheckbox3">3</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="inlineCheckbox4" name="channel_select" value="4">
              <label class="form-check-label" for="inlineCheckbox2">4</label>
            </div>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-icon-split">
              <span class="icon text-white-50">
                  <i class="fas fa-chart-area"></i>
              </span>
              <span class="text">Grab Trace</span>
            </button>
          </div>

        </form>

      </div>

    </div>

  </div>
  <div class="col-xl-8 col-lg-8">
    <div id="loading-icon" class="d-flex justify-content-center align-items-center">
    </div>
    <div id="channels">
      <div id="channel_1" class="channel-chart"></div>
      <div id="channel_2" class="channel-chart"></div>
      <div id="channel_3" class="channel-chart"></div>
      <div id="channel_4" class="channel-chart"></div>
    </div>
    <div>
      <button type="button" id="simul-zoom-btn" class="btn btn-info btn-sm" style="display:none"><i class="fas fa-search-plus"></i> SimulZoom™</button>
      <button type="button" id="reset-btn" class="btn btn-warning btn-sm" style="display:none"><i class="fas fa-undo"></i> Reset</button>
    </div>
  </div>
</div>

<div class="row">
	<div class="col-12 pt-2 pb-0">
		<div class="alert alert-info mb-0" role="alert">
			<small><i class="fas fa-info-circle"></i> The <strong>Name</strong> field in the table will be added to the filename when downloading data. Change by clicking the existing name and hitting enter when you are finished.</small>
		</div>
	</div>
	<div class="col-12">

		<div class="card mt-3">
			<h5 class="card-header">
				Trace Table
			</h5>
			<div class="card-body">
				<table id="traceTable" class="display table table-striped" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Purpose</th>
              <th>Length</th>
              <th>Channels</th>
              <th>Unix Timestamp</th>
              <th>Date Added</th>
              <th>Actions</th>
            </tr>
          </thead>
			  </table>
			</div>
		</div>

	</div>
</div>

{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script type="text/javascript">

const latestTrace = {{latest_trace|tojson}}
const latestTimestamp = latestTrace[0].unix_timestamp
const tools = {{tools|tojson}}
const oscilloscopeForm = document.getElementById('oscilloscope_form')
const channelLoadingIcon = document.getElementById('loading-icon')
const channelDivs = document.querySelectorAll('.channel-chart');
const channelChartsClasses = ['border', 'border-info', 'rounded', 'px-4', 'py-1', 'mb-2']

console.log('unix timestamp', latestTimestamp)
console.log('tools', tools)

const simulZoomBtn = document.getElementById('simul-zoom-btn')
const resetBtn = document.getElementById('reset-btn')

//initialize chart object variables
let channelCharts = {}

//initialize simulZoom data object
let simulZoomData = {}

//let the document load
window.addEventListener('load', function () {

  for (const index in tools) {
    getToolState(tools[index])
  }

  getOscilloscopeTrace(latestTimestamp)
  loadOscilloscopeTable()

})

//get trace data from the latest test
async function getOscilloscopeTrace(unixTimestamp) {

  //destroy existing traces if they exist
  for (let index = 1; index <= 4; index++) {
    let currChannel = 'channel_' + index
    if(channelCharts[currChannel]){
      channelCharts[currChannel].destroy()
    }
    
  }

  //clear channelCharts object
  channelCharts = {}

  //remove simulZoom buttons if they exist
  simulZoomBtn.style.display = 'none'
  resetBtn.style.display = 'none'

  //add loading icon
  const loadingIconHtml = '<div class="spinner-border text-info" style="width: 5rem; height: 5rem;" role="status"><span class="sr-only">Loading...</span></div>'
  channelLoadingIcon.style.height = "300px"
  channelLoadingIcon.innerHTML = loadingIconHtml

  const traceData = await getOscilloscopeTraceData(unixTimestamp);
  console.log('trace_data', traceData)
  const csvData = traceData.csv_data
  const channels = JSON.parse(traceData.trace_information.channels)
  const captureName = traceData.trace_information.name
  //determine number of channels
  let channelData = {}
  for (let index = 0; index < channels.length; index++) {
    let offset = index * 6
    let newKey  = 'channel_' + channels[index]
    channelData[newKey] = csvData.slice(offset, offset + 6);
    console.log('channdelDataKey', channelData[newKey])
    channelData[newKey][0] = channelData[newKey][0][0].split(',')
  }

  //transform data for each channel
  let channelSeries = {}
  for (const channel in channelData) {
      
    channelSeries[channel] = {
      data: []
    }

    let voltages = channelData[channel][0]
    let seriesLength = voltages.length

    let Xze = parseFloat(channelData[channel][1])
    let Xin = parseFloat(channelData[channel][2])
    let Yze = parseFloat(channelData[channel][3])
    let Ymu = parseFloat(channelData[channel][4])
    let Yof = parseFloat(channelData[channel][5])

    let tempArray = []

    //set the modval to one
    let modVal = 1

    //update modval for series lengths over and including 10k
    if(seriesLength >= 10000){
      modVal = parseInt(seriesLength / 10000)
    }

    for (let index = 0; index < seriesLength; index++) {

      if (index % modVal == 0) {
        let currentVoltage = parseFloat(voltages[index])
        let transformedVolatage = Yze + (Ymu * (currentVoltage-Yof))
        let timeAxis = 1000 * (Xze + (Xin * (index+1)))

        tempArray.push([timeAxis, transformedVolatage])
      }
      
    }

    channelSeries[channel].data.push(tempArray)

  }

  //loop through channel objects and plot
  for(const channel in channelSeries){
    let chartDiv = '#' + channel
    //remove the loading icon if it exists
    while(channelLoadingIcon.firstChild)
      channelLoadingIcon.removeChild(channelLoadingIcon.firstChild);
    //remove height attribute for div containing loading icon
    channelLoadingIcon.style.height = 0
    //render the chart
    renderOscilloscopeChart(channel, channelSeries[channel].data[0], chartDiv, captureName)
  }

  //once the chart has rendered, highlight the particular row of data rendered
  let tableRows = $('#traceTable tbody tr')

  tableRows.removeClass('renderedRow')

  $('#traceTable tbody tr[data-unix-timestamp="' + unixTimestamp + '"]').addClass('renderedRow')

};

/*** 
 * Tool State Functions
 * ***/

async function getToolState(toolData){
  
  const toolState = await getOscilloscopeState(toolData.ip_address, toolData.instr_address)

  let toolStatusBox = document.getElementById(toolData.handle + '-status')

  let htmlString = '';

  if(toolState.tool_up == true){

    htmlString = '<div><span class="text-success">ONLINE<span></div><div><span><small>' + toolData.ip_address + '</small><span></div>'

    htmlString += '<div>'

    for (let index = 1; index <= 4; index++) {
      if (toolState['channel_' + index]) {
        htmlString += '<span class="badge badge-success mr-1">' + index + '</span>'
      }

      if (!toolState['channel_' + index]) {
        htmlString += '<span class="badge badge-secondary mr-1">' + index + '</span>'
      }
      
    }

    htmlString += '</div>'

  }

  if(toolState.tool_up == false){
    htmlString = '<div><span class="text-danger">OFFLINE<span></div><div><span><small>' + toolData.ip_address + '</small><span></div>'
  }

  toolStatusBox.innerHTML = htmlString

}
/*** 
* END: Tool State Functions 
* ***/


/*** 
 * Async Data Request Methods 
 * ***/
async function getOscilloscopeTraceData(timestamp) {
  let dataParams = new FormData()
  dataParams.append('unix_timestamp', timestamp)

  return (await fetch("{{url_for('interface.get_trace_data_ajax')}}", { method: 'POST', body: dataParams}).catch(handleDataErr)).json()
}

async function getOscilloscopeState(ipAddress, toolAddress) {
  let dataParams = new FormData()
  dataParams.append('ip_address', ipAddress)
  dataParams.append('tool_address', toolAddress)
  return (await fetch("{{url_for('interface.get_tool_status_ajax')}}", { method: 'POST', body: dataParams}).catch(handleDataErr)).json()
}

function handleDataErr(err) {
  console.warn(err)
  let resp = new Response(
    JSON.stringify({
      code: 400,
      message: "Network problem retrieving data"
    })
  )
  return resp
}
/*** 
* END: Async Data Request Methods 
* ***/

/*** 
 * Form Validation 
 * ***/
function validateForm(){
  let checked = false
  let els = oscilloscopeForm.elements['channel_select[]'], i;

  for (i = 0; i < els.length; i += 1) {
    if (els[i].checked) {
      checked = true;
    }
  }
  
  if (checked == false) {
    alert('You must select one or more channels!')
    return false
  }

}
/*** 
 * END: Form Validation
 * ***/


/*** 
 * Chart Functions
 * ***/
//plotting function
function renderOscilloscopeChart(channel, data, divId, captureName){

  //set the chart options
  let options = {
    chart: {
      height: 250,
      width: "100%",
      type: "line",
      animations: {
        enabled: false
      },
      events: {
        zoomed: function(chartContext, {xaxis, yaxis}){
          //set simulZoom data object
          simulZoomData['currentChannel'] = channel
          simulZoomData['xaxis'] = xaxis

          //show SimulZoom and Reset button if multiple channels exist
          if(Object.keys(channelCharts).length > 1){
            simulZoomBtn.style.display = ''
            resetBtn.style.display = ''
          }

        }
      }
    },
    series: [
      {
        name: "Voltage",
        data: data
      }
    ],
    title: {
      text: captureName + ' - ' + channel,
      align: 'left',
      margin: 10,
      offsetX: 0,
      offsetY: 0,
      floating: false,
      style: {
        fontSize:  '14px',
        fontWeight:  'bold',
        fontFamily:  undefined,
        color:  '#263238'
      },
    },
    xaxis: {
      type: 'numeric',
      title: {
        text: 'Microseconds'
      }
    },
    yaxis : {
      labels: {
        formatter: function (value) {
          return value.toPrecision(3);
        }
      },
      title: {
        text: 'Voltage (V)',
        offsetX: 5
      }
      
    },
    tooltip: {
    
    }
  };

  channelCharts[channel] = new ApexCharts(document.querySelector(divId), options);
  //add classes to channel div
  document.querySelector(divId).classList.add(...channelChartsClasses)
  channelCharts[channel].render();

}

/*** 
 * END: Chart Functions
 * ***/


function loadOscilloscopeTable() {

  // Data Tables
  let editor; // use a global for the submit and return data rendering in the examples

  editor = new $.fn.dataTable.Editor( {
      //set url to update fields for inline editing
  "ajax": {
      url: "{{url_for('interface.update_trace_information_ajax')}}",
      type: "POST",
      data: function(d) {
                return JSON.stringify(d);
            },
      dataType: "json",
      contentType: "application/json",
      success: function(data){

        console.log('update_data',data);

      }
    },


    "table": "#traceTable",
  //set the id source
    "idSrc": "id",
  //decalre fields to be edited
    "fields": [ {
      "label": "Name",
      "name": "name"
    }, {
      "label": "Purpose",
      "name": "purpose"
    }
    ]

  });

  // Activate an inline edit on click of a table cell
  $('#traceTable').on( 'click', 'tbody td:not(:first-child, :nth-child(4), :nth-child(5), :last-child)', function (e) {
      editor.inline(this);
  } );

  let traceTable = $('#traceTable').DataTable( {
    "dom": "Bfrtip",
    //data source for table
    "ajax": {
        "url": "{{url_for('interface.fill_trace_table_ajax')}}", 
        "type": "GET"
    },
  //set the table order by the timestampt (the 4th column)
  "order": [[ 5, "desc" ]],
  "initComplete": function(settings, json) {
    //bind event to render links, existing and future
    $(document).on('click', 'a.plotCSVData', function(){

      let link = $(this)
      let selectedUnixTimestamp = link.data('unixTimestamp')

      //remove any existing styles for previously rendered channels
      channelDivs.forEach(function(el){
        el.classList.remove(...channelChartsClasses)
      });

      //render new charts
      getOscilloscopeTrace(selectedUnixTimestamp)

    })

    //add renderedRow class to latest timestamp row if it is not already added
    row = $('#traceTable tbody tr:first-child');
    if (!$(row).hasClass('renderedRow')) {
      $(row).addClass('renderedRow');
    }

  },
  rowCallback: function( row, data, dataIndex ) {
    //add data attribute with unix timestamp to each row once it is created
    $(row).attr('data-unix-timestamp', data.unix_timestamp);
    //build download URL
    let timestamp = data.unix_timestamp
    let downloadUrl = '{{url_for("interface.download_trace_csv", unix_timestamp = "DUMMYVALUE")}}'
    let finalDownloadUrl = downloadUrl.replace("DUMMYVALUE", timestamp.toString())

    $('td:eq(7)', row).html('<a href="' + finalDownloadUrl + '" class="traceDownload"><i class="fas fa-fw fa-file-csv"></i></a> <a data-unix-timestamp="' + timestamp + '" href="javascript:void(0);" class="plotCSVData"><i class="fas fa-fw fa-chart-area"></i></a>');

    //bind click event to plot icon
    $('a.plotCSVData').off().on('click', function(){

      let link = $(this)
      let selectedUnixTimestamp = link.data('unixTimestamp')

      getOscilloscopeTrace(selectedUnixTimestamp)

    })
  },
  "columns": [
      { data: "id" },
      { data: "name" },
      { data: "purpose" },
      { data: "record_length" },
      { data: "channels" },
      { data: "unix_timestamp" },
      { data: "created" },
    {
      data: null
    },
      ],
      "select": {
          style:    'single',
          selector: 'td:first-child'
      },
      buttons: [
          //{ extend: "remove", editor: editor }
      ]
  });

}

simulZoomBtn.addEventListener('click', function() {
  simulZoomCharts(channelCharts, simulZoomData.currentChannel, simulZoomData.xaxis)
})

//loop through and update the other charts
function simulZoomCharts(channelCharts, currentChannel, xaxis){
  for(const chart in channelCharts) {
    if (chart != currentChannel) {
      channelCharts[chart].zoomX(xaxis.min, xaxis.max)
    }
  }
}

resetBtn.addEventListener('click', function() {
  resetCharts(channelCharts)
})

function resetCharts(channelCharts){
  //hide the simulZoom and reset button
  simulZoomBtn.style.display = 'none'
  resetBtn.style.display = 'none'

  //reset the series and zoom back out
  for(const chart in channelCharts) {
    channelCharts[chart].resetSeries()
  }
}

</script>

{% endblock %}