<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap JS + popper bundle & jQuery -->
  <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">

  <title>Oscilloscope Loading...</title>
</head>
<body>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-center align-items-center" style="height:100px;">
            <div>
              <p class="text-center">
                Acquiring trace for {{tool['name']}} at IP {{tool['instr_address']}}
              </p>
              <p class="text-center">
                <strong>Please do not refresh the page or close this window!</strong>
              </p>
            </div>
          </div>
          <div class="d-flex justify-content-center align-items-center" style="height:100px;">
            <div class="spinner-grow text-info mr-2" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-info mr-2" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-info mr-2" role="status">
              <span class="sr-only">Loading...</span>
            </div> 
          </div>
        </div>
      </div>
    </div>

</body>
</html>

<script type="text/javascript">
  
  //pass data
  const tool = {{tool|tojson}}
  const traceFormInformation = {{trace_form_information|tojson}}

  console.log('tool', tool)
  console.log('trace info', traceFormInformation)

  captureTraceRedirect(tool, traceFormInformation)

  //Capture trace data, redirect to home page
  async function captureTraceRedirect(tool, traceFormInformation) {

    //get the available test sessions data for that test
    const traceCaptureResult = await captureOscilloscopeTrace(tool.handle, traceFormInformation.record_length, traceFormInformation.channel_select)

    if (traceCaptureResult) {
      //navigate back to oscilloscope home page
      window.location.href = "{{url_for('interface.dashboard')}}"
    }

  }

  //Async functions
  async function captureOscilloscopeTrace(oscilloscope, record_length, channel_select) {
    let dataParams = new FormData()
    dataParams.append('oscilloscope', oscilloscope)
    dataParams.append('record_length', record_length)
    dataParams.append('channel_select', channel_select)


    return (await fetch("{{url_for('interface.trace_store_ajax')}}", {	method: 'POST', body: dataParams}).catch(handleDataErr)).json()
  }

  function handleDataErr(err) {
    console.warn(err)
    let resp = new Response(
      JSON.stringify({
        code: 400,
        message: "Network problem retrieving data"
      })
    )
    return resp
  }

</script>