canvas {
  max-width: 70%;
  max-height: 70%;
}

.hidden { display: none; }

/* style for datatables row rendered in apex chart */
tr.renderedRow {
  background-color: rgb(113,206,172, 0.5) !important;
}
